.support-container {
    background-color: #381fd1; /* बैकग्राउंड का रंग */
    color: white; /* टेक्स्ट का रंग */
    text-align: center; /* टेक्स्ट को केंद्र में संरेखित करें */
    padding: 20px; /* padding ताकि थोड़ा gap दिखे */
  }
  
  .support-title {
    padding-left: 20rem;
    color: #ffdb58;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase; /* टेक्स्ट को uppercase बनाएं */
  }
  
  .support-heading {
    padding-left: 20rem;
    font-size: 60px;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.5; /* लाइन के बीच थोड़ा गैप */
  }
  
  .support-subheading {
    padding-left: 20rem;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
  }
  