.homevideo {
  margin-top: 40rem;
  text-align: center;
  padding: 20px;
}

.homevideo h1 {
  font-size: 3rem;
  color: #11284b;
}

.highlight {
  background-color: #ffdb58; /* Methi yellow color */
  padding: 0 5px;
}

.homevideo h3 {
  color: #11284b;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  gap: 7rem;
}

.image-container img {
  margin-top: 5rem;
  width: 150px; /* Set appropriate width */
  height: 150px; /* Set appropriate height */
  margin-right: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .homevideo {
    margin-top: 15rem;
    padding: 10px;
  }

  .homevideo h1 {
    font-size: 2rem;
  }

  .homevideo h3 {
    font-size: 1rem;
  }

  .image-container {
    gap: 2rem; /* Reduce the gap between images on smaller screens */
  }

  .image-container img {
    width: 100px; /* Smaller image width for mobile */
    height: 100px; /* Smaller image height for mobile */
    margin-top: 2rem; /* Adjust margin for smaller screens */
  }
}